<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>
    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="AppDataDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True;MultipleActiveResultSets=True;" />

    </connectionStrings>

</configuration>
